To: @Html.Raw(ViewBag.To)
From: info@jilcanada.com
Subject: @ViewBag.Subject

<p>Hi!</p>

<p>@ViewBag.Note</p>
<p>See details below.</p>

<p>
    Seat Number: <strong>@ViewBag.SeatNo</strong><br />
    Name: <strong>@ViewBag.Name</strong><br />
    Date: <strong>@ViewBag.Date</strong><br />
    Time: <strong>@ViewBag.Time</strong><br />
    Location: <strong>@ViewBag.Location</strong><br />
</p>

<p>See you soon!</p>
<p>God Bless!</p>

<p><strong>Administration Department</strong></p>
<p>
    <small>
        Jesus Is Lord Church Canada West<br />
    </small>
</p>